{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
<div class="container">
    <form method="POST">
        <h2 class="formTitle">
        Veuillez modifier votre mot de passe
        </h2>

        <div id="change_password" class="inputDiv">
            <label class="inputLabel" for="changer_mot_de_passe">Nouveau mot de passe :</label>
            <label id="niveau_mot_de_passe" style="color: red"></label>
            {{ form_row(user.mot_de_passe, {'label':false}) }}
        </div>

        <div class="inputDiv">
            <label class="inputLabel" for="confirmer_mot_de_passe">Confirmez le nouveau mot de passe :</label>
            <input type="password" id="confirmer_mot_de_passe" name="confirmer_mot_de_passe" required>
        </div>

        <button type="submit" class="btn btn-dark">Valider et se reconnecter</button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/nbp.min.js') }}"></script>
    <script src="{{ asset('js/common_passwords.js') }}"></script>
    <script src="{{ asset('js/confirm_password.js') }}"></script>
{% endblock %}