{% extends 'base.html.twig' %}

{% block title %}
Page partenaire
{% endblock %}

{% block body %}
{% apply inline_css(
    source('@css/partner.css'),
    source('@css/sidebar.css'),
    source('@css/button_statut.css'))
%}
    <div class="row">
    <div class="col-4 col-md-4 col-lg-3" id="sidebar">
        {% include('_sidebar.html.twig') %}
    </div>
    <div class="body col-8 col-md-8 col-lg-9">
      <div class="en_tete">
        <div id="nom_part">
          <h1 id="nom_partenaire" class="display-6">Partenaire : {{ nom }}</h1>
        </div>
        <div id="mail">Mail : {{ mail }}</div>
        {% if is_granted('ROLE_ADMIN') %}
          <div class="statut_partenaire">
            <label for="">Partenaire actif : </label>
              <div class="form-check form-switch">
                <input id="statut_partner" class="form-check-input toggle" type="checkbox" role="switch" id="perm_newsletter" {{ niveauDroits == 2 ? 'checked' : '' }}/>
            </div>
          </div>
          <div class="delete-partner">
            <form method="POST">
              <input type="hidden" name="delete_partner" value="{{ mail }}" />
              <button class="btn btn-danger" 
              type="submit" 
              onclick="return confirm(
                'Etes-vous sûr ? Cette action est irréversible.'
              )">
              Supprimer ce partenaire
              </button>
            </form>
          </div>
        {% endif %}
      </div>

      <!-- Structures du partenaire -->
      <div class="label_structures">
        <h3>Mes structures</h3>
      </div>
      <div id="structures">
          <div class="structure">
            <a href="../user/create/structure" style="text-align: center;">
              <h4>Ajouter une structure</h4>
            </a>
          </div>
          {% set c = 0 %}
          <!-- Le for va tourner autant de fois qu'il y a de villes -->
          {% for count in structures['address'] %}
            <div class="structure">
              <a id="" href="./structure/{{structures['mail'][c]}}">
                <div class="structure_adresse">{{structures['address'][c]}}</div>
                <div class="structure_mail">{{structures['mail'][c]}}</div>
              </a>
            </div>
          {% set c = c + 1 %}
          {%endfor%}
      </div>

      <!-- Permissions globales -->
      <div class="permissions">
        <h6>Permissions globales : </h6>
        <!-- Switch 1 -->
        <div class="form-check form-switch">
          <input class="form-check-input toggle" type="checkbox" role="switch" id="perm_boissons" {{ permBoissons == 1 ? 'checked' : '' }}/>
          <label class="form-check-label" for="toggle_boissons">Vente de boissons</label>
        </div>
        <!-- Switch 2 -->
        <div class="form-check form-switch">
          <input class="form-check-input toggle" type="checkbox" role="switch" id="perm_newsletter" {{ permNewsletter == 1 ? 'checked' : '' }}/>
          <label class="form-check-label" for="toggle_newsletter">Envoyer une newsletter</label>
        </div>
        <!-- Switch 3 -->
        <div class="form-check form-switch">
          <input class="form-check-input toggle" type="checkbox" role="switch" id="perm_planning" {{ permPlanning == 1 ? 'checked' : '' }}/>
          <label class="form-check-label" for="toggle_planning">Gérer le planning d'une équipe</label>
        </div>
      </div>
    </div>
  </div>
{% endapply %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/permissions.js') }}"></script>
{% endblock %}